body {
    font-family: 'Sulphur Point', sans-serif;
    background-color: #e0f2f1;
  }


.nav-color {
  background: #4e0fa6;
}

.menu-hover {
  color: #ffffff;
}

.menu-hover:hover {
  color: #04D9D9;
}



.boton {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-top: 10px;
}

.shadow__btn {
  font-weight: 500;
  border-radius: 10px;
  padding: 8px 8px;
  background-color: #04D9D9;
  color: #ffffff;
  text-decoration: none;
}

.shadow__btn {
  background: #04D9D9;
  box-shadow: 0 0 15px rgb(0, 140, 255);
}

.shadow__btn:hover {
  box-shadow: 0 0 5px #04D9D9,
      0 0 8px #04D9D9,
      0 0 10px #04D9D9,
      0 0 15px #04D9D9;
}


.cont-cards-1 {
  margin-left: 20%;
  margin-right: 20%;
  
}

.container {
    width: 100%;
    margin: center;
    margin-top: 8em;
}
.container_cards{
  display: flex;
}
.form-container {
    background-color: #99eded;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}
  
  

  

h2 {
    color: #4E0FA6;
    margin-bottom: 30px;
    font-size: 55px;
}
  
label {
    font-weight: bold;
    color: #4E0FA6;
}
  
select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
  
input[type="date"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
  
.search-btn {
  margin-top: 20px;
  background-color: #4E0FA6;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
}
  
/* .promo-text-AQP {
  font-size: 36px;
  font-weight: bold;
  color: #ff4081; 
  text-align: center;
  margin: 20px 0;
  }

.promo-text-BS {
  font-size: 36px;
  font-weight: bold;
  color: #ff4081; 
  text-align: center;
  margin: 20px 0;
  }

.promo-text-COL {
  font-size: 36px;
  font-weight: bold;
  color: #ff4081; 
  text-align: center;
  margin: 20px 0;
  }

.promo-text-CAN {
  font-size: 36px;
  font-weight: bold;
  color: #ff4081; 
  text-align: center;
  margin: 20px 0;
}

.promo-text-CUS {
  font-size: 36px;
  font-weight: bold;
  color: #ff4081; 
  text-align: center;
  margin: 20px 0;
} */

box {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #e6e6e6;
}

.box {
  width: 80%;
  max-width: 90%;
  margin-left: 10%;
  margin-right: 10%;
  background-color: #d1c1eb;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.box p {
  color: #fff;
  margin: 0;
  font-size: 50px;
  line-height: 1.5;
}

.important {
  margin-top: 20px;
  font-weight: bold;
}

.input-container {
  display: flex;
  margin-top: 20px;
}

.input-container input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px 0 0 5px;
}

.input-container button {
  background-color: #007bff;
  border: none;
  color: #fff;
  padding: 1px 1px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}