
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Sulphur Point', sans-serif;
    background-color: #f6f0f0;
}
/*Estilos al boton*/
button {
    font-family: 'Sulphur Point', sans-serif;
    font-weight: 300;
    width: 80px;
    height: 40px;
    border-radius: 50%;
}
/*Navbar*/

.nav-color {
    background: #4e0fa6;
}

.menu-hover {
    color: #ffffff;
}

.menu-hover:hover {
    color: #04D9D9;

}
/*Navbar*/
/*Estilos del boton de login y registro*/
.boton {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-top: 10px;
}

.shadow__btn {
    font-weight: 500;
    border-radius: 10px;
    padding: 8px 8px;
    background-color: #04D9D9;
    color: #ffffff;
    text-decoration: none;
}

.shadow__btn {
    background: #04D9D9;
    box-shadow: 0 0 15px rgb(0, 140, 255);
}

.shadow__btn:hover {
    color: #ffffff;
    box-shadow: 0 0 5px #04D9D9,
        0 0 8px #04D9D9,
        0 0 10px #04D9D9,
        0 0 15px #04D9D9;
}

/*Paquetes Insuperables*/
.ofertas {
    width: 100%;
    height: auto;
    background-color: #F3E304;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 50px;
}

h1 {
    color: #4e0fa6;
    font-size: 30px;
    padding-top: 5px;
    animation: fadeInOut 3s ease-in-out infinite;
}

    @keyframes fadeInOut {
        0% { opacity: 0; }
        50% { opacity: 1; }
        100% { opacity: 0; }
      }
      @keyframes scrollText {
        from {
          transform: translateX(100%);
        }
        to {
          transform: translateX(-100%);
        }
      }
      @keyframes mymove {
        0%   {top: 0px; left: 0px; }
        25%  {top: 0px; left: 100px;}
        50%  {top: 100px; left: 100px;}
        75%  {top: 100px; left: 0px;}
        100% {top: 0px; left: 0px;}
      }
/*Cards*/
.center-card{
    justify-content: center;
    align-items: center;
}
.place {
    font-size: 18px;
    font-family: 'Sulphur Point', sans-serif;
    font-weight: 700;
}

.date {
    font-family: 'Sulphur Point', sans-serif;
    font-weight: 400;
    margin-bottom: 11px;
    text-align: left;
}

.star-filled {
    color: #4E0FA6;
}

.price {
    background: #4E0FA6;
    color: #F3E304;
    border-radius: 5px;
    width: 120px;

}

.cost {
    color: #4E0FA6;
    font-weight: bold;
    margin-bottom: 0;
    text-align: left;
    font-size: 2em;

}

.extra {
    background-color: #f8f3f3;
    padding: 5px;
}
.animation_img{
    white-space: nowrap; /* Evita que la imagen se divida en varias líneas */
    overflow: hidden; /* Oculta que la imagen se desplaza fuera del contenedor */
    animation: scrollText 8s linear infinite; /* Velocidad de desplazamiento y repetición infinita */
}
img {
    position: relative;

    
}


.card img {
    height: 162px;
}

.hide-overflow {
    overflow: hidden;
}
.caption {
    position: absolute;
    top: 130px;
    padding: 2px;
    background: #4E0FA6;
    color: #F3E304;
    left: 5px;
    z-index: 1;
    border-radius: 5px;

}



/*Estilos del footer*/

footer {
    width: 100%;
    padding: 20px 0px;
    background-color: #04D9D9;
    background-image: url('../img/background-footer.svg');
    background-size: cover;
    background-color: #4E0FA6;
    -webkit-mask-image: url("../img/background-footer.svg");
    mask-image: url("../img/background-footer.svg");
    -webkit-mask-size: cover;
    mask-size: cover;
}

.container__footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
}

.box__footer {
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.box__footer .logo img {
    width: 180px;
}

.box__footer .terms {
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: #4E0FA6;
    font-size: 18px;
}

.box__footer h2 {
    margin-bottom: 5px;
    color: #4E0FA6;
    font-weight: 700;
    font-size: 24px;
}

.box__footer a {
    margin-top: 5px;
    color: #04D9D9;
    font-weight: 600;
}

.box__footer a:hover {
    opacity: 0.8;
    color:#4E0FA6 ;
}

.box__footer a .fab {
    font-size: 20px;
}

.box__copyright {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box__copyright p {
    margin-top: 20px;
    color: #4E0FA6;
}

.box__copyright hr {
    border: none;
    height: 1px;
    background-color: #4E0FA6;
}

/*Estilos del footer*/

@media (max-width: 768px) {
    /*Media Querys del navbar*/
    h1{
        font-size: 20px;
    }
    /*Media Querys de cards */
    .caption{
        font-size: 12px;
    }
    .place{
        font-size: 16px;
    }
    .date{
        font-size: 14px;
    }
    .price{
        font-size: 14px;
        width: 100px;
        margin-bottom: 2px;

    }
    .cost{
        font-size: 20px;
    }


    /*Media Querys footer*/
    .box__footer {
        padding: 10px;
    }
    .box__footer h2 {
        font-size: 18px;
    }
    .box__footer .terms {
        font-size: 14px;
    }
    .box__footer .terms p {
        margin-bottom: 0px;}
    .box__footer a {
        font-size: 14px;
    } 
    .box__copyright p {
        font-size: 12px;
    }
    .box__footer .logo img {
        width: 100px;
        align-items:center ;
    }
    footer {
        height:auto;
    }
}
@media (max-width:576){
    .container__footer .box__footer {
        padding: 10px;
        margin-bottom: 5px;
    }
}
